/* Reset default margin and padding */
body, ul {
    margin: 0;
    padding: 0;
}

/* Set background GIF for the body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('eBook.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Navigation Bar styles */
nav {
    background-color: #535945;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
}

.nav-links {
    list-style-type: none;
    font-size: medium;
}

.nav-links li {
    display: inline; /* Display navigation links horizontally */
    margin-right: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

.nav-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

/* Dropdown menu styles */
.dropdown {
    position: relative;
}

/* Dropdown menu styles */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: block; /* Show dropdown content by default */
    position: absolute;
    background-color: #535945; /* Change background color */
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: #fff; /* Change text color */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #333; /* Change background color on hover */
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Search box styles */
.search-box {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    padding: 6px 12px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-box input[type="text"] {
    border: 0;
    background-color: transparent;
    font-size: 16px;
    width: 0;
    transition: 0.8s;
}

.search-box:hover input[type="text"] {
    width: 150px;
}

.search-box button {
    padding: 8px;
    background-color: #333;
    border: 0;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}
